* {
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

body {
    background: #000000;
}

.header-block {
    margin-top: 30px;
    width: 350px;
    height: 600px;
    background: #504c4c;
    border-radius: 50px;
    border: solid white;

}

.title {
    margin-top: 10px;
    width: 120px;
    height: 25px;
    margin-left: 34%;
    background: black;
    border-radius: 15px;
}

.come {
    margin-top: 20px;
    width: 320px;
    height: 470px;
    margin-left: 15px;
    background: white;
    border-radius: 5px;
}

.come h1 {
    position: absolute;
    top: 15%;
    color: white;
    font-size: 16px;
    margin-left: 20px;
}

.my img {
    position: absolute;
    margin-left: 19%;
    border: none;
    margin-top: 10px;
    width: 40px;
    z-index: 99;
}

.see img {
    width: 70px;
    height: 50px;
    margin-top: 10px;
    border-radius: 30px;
    margin-left: 38%;
    font-size: 18px;
    color: white;
}

.come {
    background: url("../img/cococ.jpg") no-repeat bottom center/cover;
}

.give img {
    position: absolute;
    margin-left: 3%;
    border: none;
    margin-top: -110px;
    width: 20px;
}